@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient(
    to bottom,
    rgb(29, 29, 29),
    rgb(70, 70, 70)
  );
  color: white;
}
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #3652d0 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.inactive-item {
  opacity: 0;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(255, 255, 255) !important;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a {
  color: currentcolor;
}

/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 12rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow {
  margin-top: 100px;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.team {
  --flow-space: 2em;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  margin: 5px;
}

.profile::before,
.profile::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.profile::after {
  opacity: 0;
  transition: 300ms opacity linear;
}

.profile > * {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.5;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

@media (min-width: 865px) {
  .nav__wrapper {
    display: flex;
  }
}
@media (max-width: 864px) {
  .nav__wrapper {
    position: absolute;
    top: calc(100% + 35px);
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #00598d;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.playerBackground {
  width: 100%;
  height: 83px;
  background-color: #333;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 9999;
}

.playerSticky {
  position: fixed;
  bottom: 0px;
  width: 71%;
  left: 14.5%;
  z-index: 999;
}

@media (max-width: 500px) {
  .playerSticky {
    bottom: 60.5px;
  }
  .playerBackground {
    bottom: 60.5px;
  }
}

.searchResultsWrapper {
  overflow-y: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .searchResultsWrapper {
    margin-top: 100px;
    grid-template-columns: 1fr;
  }
}

.signIn {
  background-color: #00598d;
  height: fit-content;
  padding: 10px 34px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px black;
  margin-top: 100px;
  font-size: 20px;
  color: white;
  display: inline-block;
}

/* -----------new-------- */

.main {
  margin-left: 222px;
}

@media (max-width: 700px) {
  .sideBar {
    display: none;
  }
  .main {
    margin-left: 0;
  }
}
/* HTML5 display-role reset for older browsers */

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  background-color: aliceblue;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 0px;
}

a {
  color: rgb(167, 167, 167);
  text-decoration: none;
  font-weight: 700;
}

.centerContent {
  background-color: #121212;
  width: 65vw;
  height: auto;
  display: flex;
  align-content: center;
}

.navRight_Container {
  background-color: black;
  width: 250px;
  height: auto;
}

.mainScreen_Container {
  display: flex;
  flex-direction: column;
}

/* footer {
  border-top: solid 0.5px #282828;
  background-color: #181818;
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
} */

.songInfo_Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 208px;
  justify-content: space-between;
}

.controlPanel_Container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lengthSlider_Container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playButtons_Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15vw;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lengthSlider_bg {
  width: 40vw;
  height: 4px;
  background-color: rgb(167, 167, 167);
  border-radius: 1em;
  margin-left: 5px;
  margin-right: 5px;
}

.controlPanel_songImg {
  max-width: 60px;
  height: auto;
  display: inline-block;
  margin-right: 20px;
}

.songName {
  color: rgb(167, 167, 167);
  display: block;
  font-weight: 400;
}

.white-text {
  color: white;
}

.hover-underline:hover {
  text-decoration: underline;
}

.controlPanel_artistInfo_Container {
  margin-right: 20px;
}

.controlPanel_artistName {
  font-size: 11px;
  font-weight: 400;
}

.interfaceControls_Container {
  width: 208px;
  height: 50px;
  background-color: blue;
}

/* ------------------ breakpoints ------------------*/

/* Medium devices (tablets, less than 992px) */

@media (max-width: 992px) {
  .navRight_Container {
    background-color: black;
    width: 85px;
    height: 86vh;
  }
}

/* iPad */
@media (max-width: 768px) {
  .navRight_Container {
    display: none;
  }

  .centerContent {
    background-color: #121212;
    width: 768px;
    height: 86vh;
    display: flex;
    align-content: center;
  }
}

/* header */
header {
  text-align: center;
  /* background-color: #151515; */
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: default !important;
  grid-area: header;
  height: 100px;
}
.nav-right {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}
.nav-left {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}

.nav-search:focus {
  outline: 0;
}

.nav-left a {
  cursor: default !important;
}
.fa {
  color: white;
  text-decoration: none;
  cursor: default !important;
}
a:focus {
  outline: 0;
}

.nav-search {
  height: 1.25rem;
  border-radius: 30px;
  border: none;
  padding: 1.125rem;
  font-size: 17px;
  width: 13vmax;
  color: #222;
  margin: 0px 11px 0px 22px;
}
::placeholder {
  color: #222;
  opacity: 1;
  font-size: 0.8rem;
  letter-spacing: 0.0125em;
}
.nav-button {
  height: 1.5rem;
  width: 6.875rem;
  border-radius: 30px;
  background: transparent;
  border: 0.0525rem solid white;
  color: white;
  letter-spacing: 0.0625em;
  font-weight: 600;
  font-size: 0.7rem;
  margin-right: 20px;
  padding-bottom: 1px;
}
.nav-button:hover {
  transform: scale(1.08, 1.08);
  border-radius: 0.225rem solid white;
}
.nav-button:focus {
  outline: 0;
}

.underline {
  display: inline;
}
.nav-image {
  width: 24px;
  height: 24px;
}
.username {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #151515;
  margin: 0px 25px 0px 8px;
  cursor: default !important;
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 1px;
}

.username:hover {
  border-bottom: 1px solid white;
  visibility: visible;
  opacity: 1;
}
.username:focus {
  outline: 0;
}
