.sideBar {
  width: 222px;
  height: 100vh;
  position: fixed;
  background-color: rgb(0, 0, 0);
  color: white;
  left: 0;
  top: 0;
}

.navLeft_item:hover .hover-white {
  color: white;
}

.hover-white:hover {
  color: white;
}

.navLeft_Container {
  background-color: black;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  overflow: auto;
  border-bottom: inline red 5px;
}

.navLeft_sub_Container {
  height: 100%;
  padding: 25px 15px 10px 5px;
}

.navMenuBtn_Left {
  padding: 0px 15px 0px 15px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainNavPanel {
  margin-bottom: 10%;
}

.navLeft_bottom {
  height: auto;
  border-top: solid 0.5px #282828;
  margin: 0px 15px 0px 15px;
}

.playlistName {
  color: rgb(167, 167, 167);
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
}

.playlistName:hover {
  color: white;
}

.navLeft_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 15px 7px 15px;
  border-radius: 0.2em;
}

.navLeft_item:hover {
  color: white;
}

.hrLeftNav {
  border-color: rgb(167, 167, 167);
  margin-bottom: 20px;
}

.navLeft_item:hover {
  background-color: #282828;
}

.navLeft_text {
  margin-left: 10px;
}

.playlistList {
  height: auto;
}

.playlistList:first-child {
  margin-top: 10px;
}

.navLeft_item span:hover {
  color: white;
}
