@import url("https://fonts.googleapis.com/css?family=Figtree:800|DM+Sans:400");

:root {
  --text: hsla(284, 30%, 10%, 0.8);
  --text_dark: hsla(247, 57%, 5%, 0.6);
  --background: #9dbbd4;
  --background_dark: #d4a5b6;
  --accent: hsla(236, 100%, 60%, 1);
  --outline: hsla(247, 5%, 36%, 1);
  --glass: hsla(247, 57%, 91%, 1);
  --glass_trans: hsla(247, 57%, 91%, 0.05);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Figtree";
  font-weight: 800;
  line-height: 1;
  color: var(--text);
}

/* html {
  font-size: 100%;
} */

/* 16px */

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
  color: var(--text_light);
  line-height: 1.5rem;
}

p {
  font-size: 0.9rem;
}

small {
  font-size: 0.75rem;
  color: var(--text);
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw 0 10vw;
  overflow-x: hidden;
  font-family: "DM Sans";
  font-weight: 400;
  color: var(--text);
  background: linear-gradient(
    260deg,
    var(--background_dark),
    var(--background)
  );
}

svg {
  fill: var(--text_dark);
  height: 1lh;
  width: 1lh;
}

hr {
  background-color: var(--outline);
  height: 1px;
  border: none;
}

button {
  color: var(--text);
  padding: 0.9rem 1rem 0.9rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

blt {
  margin: 0 0.2rem 0 0.2rem;
}

.primary {
  background: linear-gradient(114deg, var(--primary), var(--accent));
}

.secondary {
  background: var(--secondary);
}

.muted {
  color: var(--text_dark);
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.alert {
  color: var(--alert);
}

.active {
  color: var(--primary);
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--glass);
  padding: 2.5rem;
  border-radius: 1rem;
  width: 100%;
  gap: 1rem;
  /* max-width: 35rem; */
  box-shadow: inset 0 0 1.25rem var(--glass),
    0rem 0rem 2rem rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.1rem);
  background: var(--glass_trans);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkbox {
  appearance: none;
  padding: 0.1rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--outline);
  background: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  max-width: 70%;
}

.checkbox:checked {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="hsla(247, 57%, 5%, 0.5)" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
}

.checkbox:checked ~ p {
  text-decoration: line-through;
}

grid {
  transform: rotate(20deg) translate(10rem, -10rem);
  background-size: 4.5rem 4.5rem;
  background-image: linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
  opacity: 10%;
  position: absolute;
  width: 30rem;
  height: 30rem;
  pointer-events: none;
  mask-image: radial-gradient(black 20%, transparent 80%);
}

glob {
  opacity: 30%;
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  filter: blur(100px);
  background: var(--accent);
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
